annotated-types       
anyio                 
boto3                 
botocore              
cached-property       
cffi                  
click                 
cryptography          
fastapi               
greenlet              
h11                   
idna                  
inflection            
jmespath              
mangum                
mypy-extensions       
pip                   
psycopg2              
psycopg2-binary       
pycparser             
pydantic              
pydantic_core         
python-dateutil       
pytz                  
s3transfer            
setuptools            
six                   
sniffio               
SQLAlchemy            
sqlalchemy-orm        
sqlalchemy-serializer 
SQLAlchemy-Utils      
starlette             
typing_extensions     
typing-inspect        
urllib3               
uvicorn               
watchtower            
gunicorn
jinja2
pyotp
google-api-python-client==2.185.0
google-auth==2.41.1